@import '@/sass/colors';
@import '@/sass/mixins';

.container{
    container: projects-container / inline-size;
    margin-bottom: min(12vh, 100px);
}

.title{
    font-size: 54px;
    margin-bottom: 65px;
    margin-top: 100px;
    span{
        font-size: inherit;
        @include text-gradient;
    }
    @include onSmallContainer(){
        font-size: 40px;
        margin: 60px 0px 46px 0px;
    }
}

.list{
    list-style: none;
    column-gap: 34px;
    row-gap: 90px;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(300px, 1fr));
    margin-bottom: 60px;
}