@import '@/sass/colors';
@import '@/sass/mixins';

.container{
    container: projects-container / inline-size;
    margin-bottom: min(12vh, 100px);
}

.title{
    font-size: 54px;
    margin-bottom: 65px;
    margin-top: 100px;
    span{
        font-size: inherit;
        @include text-gradient;
    }
    @include onSmallContainer(){
        font-size: 40px;
        margin: 60px 0px 46px 0px;
    }
}

.list{
    list-style: none;
    column-gap: 34px;
    row-gap: 90px;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(300px, 1fr));
    margin-bottom: 60px;
}

.more{
    display: inline-flex;
    align-items: center;
    gap: 5px;
    p{
        text-transform: capitalize;
        font-weight: 500;
        transition: all .2s ease-in-out;

        position: relative;
        &::after{
            @include basePseudo();
            $height:2px;
            transition: all .2s ease-in-out;
            width: 100%;
            height: $height;
            background: $gradient;
            bottom: - calc($height + 2px);
            left: 0;
            opacity: 0;
        }
    }
    svg{
        height: 18px;
        width: 18px;
        transition: transform .2s ease-in-out;
        path{
            stroke: white;
        }

    }
    &:hover{
        svg{
            transform: translate(7px);
        }
        p{
            border-image-source: $gradient;
            &::after{
                opacity: 1;
            }
        }
    }
}