@import '@/sass/colors';
@import '@/sass/mixins';

.container{
    container: wrapper / inline-size;
    position: relative;
   .redirect {
        position: absolute;
        margin-left: 5px;
        transition: transform .2s ease-in-out;
        svg{
            width: 15px;
            height: 15px;
            path{
                stroke: #13ADC7;
            }
        }
    }
    &:hover{
        .redirect{
            transform: translate(5px, -5px);
        }
    }
}

.card{
    backdrop-filter: blur(20px);
    background-color: rgba($color: #1f2937, $alpha: 0.4);
    border-radius: 12px;
    padding: 26px 30px;
    border: 1px solid rgba($color: white, $alpha: 0.1);
}

.heading{
    display: inline-block;
    font-size: 25px;
    margin-bottom: 12px;
    @include text-gradient;
    @include onMobile(){
        margin-bottom: 5px;
        font-size: 16px;
    }
    
}

.role{
    font-size: 20px;
    color: $color-primary;
    font-weight: 400;
    margin-bottom: 13px;
    @include onMobile(){
        margin-bottom: 8px;
        font-size: 15px;
    }
}
.description{
    font-size: 18px;
    color: $color-primary-2;
    margin-bottom: 30px;
    @include onMobile(){
        margin-bottom: 16px;
        font-size: 14px;
    }
}

.stack{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    // @example: li - li - li
    li{
        color: $color-stack;
        position: relative;
        font-size: 14px;
        &::before{
            content: '\00a0 -';
            
        }
        &:first-of-type{
            &::before{
                content: '';
            }
        }
        @include onMobile(){
            font-size: 12px;
        }
    }
}