@import '../sass/colors';
@import '../sass/mixins.scss';

.wrapper{
  background-color: $color-bg-primary;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
}

.sidebar{
  height: 100vh;
  position: sticky;
  top: 0;
  @media (width<768px){
    position: static;
    height: auto;
    display: none;
  }
}

.grid{
  display: grid;
  grid-template-columns: min(500px, 50%) 1fr;
  @media (width<768px){
    display: initial;
  }

}

.section{
  min-height: 100vh;
  padding: 1rem;
  &_variant{
    @extend .section;
    background-color: $color-bg-secondary;
  }
  
}

.navbar-container{
  position: sticky;
  top: 0;
  z-index: 2;
  @include hide-on-desktop;
}