$color-bg-primary: #111827; /*most of the app bg color*/
$color-bg-secondary: #030E21; /*of a section*/
$color-title:#fff;
$color-default: white;
$color-primary: #FBFBFB;
$color-primary-2: #D6D6D6;
$color-secondary: #A8A8A8;
$color-stack: #62D9FF;

$color-secondary-button: #2F3459;

/*gradient used for Logo, titles, primary button, footer, decorators*/
$gradient: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
