@use 'sass:math';

@import '../../utils/variables.module.scss';


.nav{
    a{
        font-weight: 400;
        display: inline-block;
        padding: 8px;
    }
}

.bar{
    border-radius: 40px;
    span{
        border-radius: 50px;
        background-color: $color-primary;
        width: 6px;
        display: inline-block;
        transition: transform .3s ease-out;
        
    }
    
    padding: 8px;
    border: 1px solid darken($color-primary, 70%);
    
}


.active{
    background: $gradient;
    background-clip: text;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    color: #6978D1; 

}

.nav-container{
    display: flex;
   
    gap: 30px;
    


}

