@import './variables.module.scss';

@mixin hide-on-desktop{
    @media (width>=768px){
        display: none;
    } 
}

@mixin onSmallContainer(){
    @container (max-width:481px){
        @content;
    }
}

@mixin text-gradient{
    display: inline-block;
    background: $gradient;
    background-clip: text;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    color: #6978D1; 
}

@mixin onMobile{
    @media (width<576px){
        @content;
    }
}