@import './variables.module.scss';

.button-primary{
    
    background: $gradient;
    color: $color-title;
    text-transform: capitalize;
    font-weight: 400;
    border-radius: 47px;
    font-size: 16px;
    padding: 12px 16px;
    
  }
  
