@import '../../utils/variables.module.scss';

.container{
    padding-top: clamp(50px, 10vh, 140px);
    padding-right: 65px;
    padding-left: 65px;
    h1{
        margin-bottom: 25px;
    }
}

.description{
    color: $color-secondary;
    margin-bottom: 15px;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    > ul{
        display: flex;
        gap: 33px;
    }
}

.visually-hidden{
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
    clip: rect(1px, 1px, 1px, 1px); /*maybe deprecated but we need to support legacy browsers */
    clip-path: inset(50%); /*modern browsers, clip-path works inwards from each corner*/
    white-space: nowrap;
}