@import '@/sass/colors';
@import '@/sass/mixins';

.container{
    padding-top: clamp(50px, 10vh, 140px);
    padding-right: 65px;
    padding-left: 65px;
    h1{
        margin-bottom: 25px;
    }
    h2{
        font-size: 30px;
        margin-bottom: 10px;
    }
    @media (width<768px){
        background-color: $color-bg-secondary;
        padding-left: 20px;
        padding-right: 20px;
        .info{
            display: block;
        }
    }
}


.description{
    color: $color-secondary;
    margin-bottom: 15px;
    @media (width<768px){
        font-size: 14px;
    }
}

.actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
    // TODO change media query for container queries
    @media (width<768px){
        flex-direction: column;
        align-items: start;
        gap: 20px;
        & button{
            margin-left: auto;
        }
    }
}