@import '@/sass/colors';

.footer{
    background: $gradient;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 22px 0px;
    gap: 16px;
    > p {
        font-size: 16px;
    }
}
